@tailwind base;

@font-face {
  font-family: gt-america;
  font-weight: 400;
  src: url(/fonts/gt-america-standard-regular.woff2);
}
@font-face {
  font-family: raks;
  font-weight: 400;
  src: url(/fonts/Raks.woff2);
}
html,
body {
  @apply bg-off-white text-black-blue antialiased;
  padding: 0;
  margin: 0;
  font-family: gt-america, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

@tailwind components;

/* Headings */

@responsive {

  .heading-super {
    @apply text-6xl;
  }

  .heading-one {
    @apply text-4xl;
  }

  .heading-two {
    @apply text-2xl;
  }

        .heading-three {
          @apply text-xl;
        }
}

.font-raks {
  font-family: raks, sans-serif;
}

.svg-control {
  @apply overflow-visible;
}
.svg-control svg {
  @apply w-full h-auto easy-transition;
}

.svg-control-height svg {
  @apply w-auto h-full;
}
.svg-control svg:focus,
.svg-control svg:active,
.svg-control-height svg:focus,
.svg-control-height svg:active {
  @apply outline-none;
}

.svg-control svg path,
.svg-control svg circle,
.svg-control svg rect,
.svg-control-height svg path,
.svg-control-height svg circle,
.svg-control-height svg rect {
  @apply fill-current;
}
.object-square {
  @apply w-full relative safari-mask;
}

.object-square img {
  @apply w-full h-full object-cover;
}
@tailwind utilities;

.safari-mask {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.easy-transition {
  @apply transition-all duration-200 ease-in-out;
}

/* Overrides */

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
}

html body .swiper-button-next,
html body .swiper-button-prev {
  @apply w-4 h-4 bottom-0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: auto;
}

html body .swiper-button-next {
  background-image: url(/icons/arrow.svg);
  left: auto;
  right: 0;
}

html body .swiper-button-prev {
  left: auto;
  right: 2rem;
  background-image: url(/icons/arrow-left.svg);
}

html body .swiper-button-next:after,
html body .swiper-button-prev:after {
  content: "";
}

html body .swiper-pagination.swiper-pagination-bullets {
  @apply bottom-0 w-auto -ml-1;
}

html body .swiper-pagination-bullet {
  @apply bg-dull-blue;
}

html body .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-black-blue;
}
