@tailwind base;

@font-face {
  font-family: gt-america;
  font-weight: 400;
  src: url(/fonts/gt-america-standard-regular.woff2);
}
html,
body {
  @apply bg-off-white antialiased;
  padding: 0;
  margin: 0;
  font-family: gt-america, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  @apply text-blue-500; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@tailwind components;

.svg-control svg {
  @apply w-full h-auto;
}

.svg-control svg:focus,
.svg-control svg:active {
  @apply outline-none;
}

.svg-control svg path,
.svg-control svg circle,
.svg-control svg rect {
  @apply fill-current;
}
@tailwind utilities;
